*,
*::before,
*,
*::before,
*,
*,
*::before,
* {
	box-sizing: border-box;
}

body {
	margin: 0;

	background: #cce3de;
}

.calculator-grid {
	display: grid;
	margin-top: 2rem;
	justify-content: center;

	grid-template-columns: repeat(4, 6rem);
	grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px none #eaf4f4;
	outline: none;
	background-color: rgba(164, 195, 178, 0.75);
	color: #354f52;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
	background-color: rgba(164, 195, 178, 1);
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: #6b9080;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding: 0.75rem;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: #cce3de;
	font-size: 1.5rem;
}

.output .current-operand {
	color: #eaf4f4;
	font-size: 2.5rem;
}
